:root {
    --color-fondo: hsl(0, 0%, 96%);
}

.titulo {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #ff7eb3, #ff758c, #ff6a9d); 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    letter-spacing: 2px;
}

.campana {
    width: 100px;
    height: 100px;
    background-color: #f5a623;
    border-radius: 50% 50% 0 0;
    position: relative;
    margin: 100px auto;
    transform-origin: top center;
}

.badajo {
    width: 40px;
    height: 80px;
    background-color: #f5a623;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transform-origin: top center;
}
 
.centrado{
    justify-content: center;
    align-items: center;
    display: flex;
}

.marco {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0;
    background-color: var(--color-fondo);
    border-style: ridge;
    border-color: #d55d63;
}

.campana--animacion {
    animation: balanceo 2s ease-in-out infinite;
}

.badajo--animacion {
    animation: oscilacion-badajo 2s ease-in-out infinite;
}

@keyframes balanceo {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes oscilacion-badajo {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    25% {
        transform: translateX(-50%) rotate(30deg);
    }
    50% {
        transform: translateX(-50%) rotate(0deg);
    }
    75% {
        transform: translateX(-50%) rotate(-30deg);
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

.botones {
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.boton {
    padding: 10px 20px;
    background-color: #80b3ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

.boton:active {
    background-color: #003f7f;
}